.counterContainer {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.counterBlock {
    width: 250px;
    padding: 20px;
    border: 3px solid #00ffd0;
    border-radius: 10px;
}

.displayOutput {
    margin-bottom: 15px;
    padding: 20px 10px;
    background: #00ffd0;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    color: black;
}

.displayOutput.maxValue {
    color: red;
    font-weight: bold;
}

.settingsOutput {
    margin-bottom: 15px;
    padding: 20px 10px;
    border: 3px solid #00ffd0;
    border-radius: 10px;
}

.settingsOutput label {
    display: inline-block;
    margin-bottom: 10px;
}

.settingsOutput input {
    width: 100px;
    margin-left: 20px;
    padding: 5px;
    background: #1c1c1c;
    border: 2px solid #00ffd0;
    border-radius: 10px;
    color: #00ffd0;
}

.settingsOutput input:focus {
    box-shadow: 0 0 10px #9f9f9f;
    outline: none;
}

.settingsOutput input.error {
    border-color: red;
    color: red;
}

.controlButtons {
    padding: 10px;
    border: 3px solid #00ffd0;
    border-radius: 10px;
    text-align: center;
}

.controlButtons button {
    padding: 10px 20px;
    background: #00ffd0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.controlButtons button[disabled] {
    background: #4c9688;
    color: black;
}

.controlButtons button:first-child {
    margin-right: 10px;
}