.counterContainer {
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 3px solid #61dafb;
    border-radius: 5px;
}

.counterOutput {
    margin-bottom: 15px;
    padding: 15px 30px;
    background: #61dafb;
    font-size: 45px;
    border-radius: 5px;
}

.maxValue {
    color: red;
    font-weight: bold;
}

.buttonsContainer {
    border: 2px solid #61dafb;
    padding: 10px;
    border-radius: 5px;
}

.buttonsContainer button {
    margin: 5px;
    padding: 5px 15px;
    background: #61dafb;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonsContainer button:disabled {
    opacity: 0.5;
    cursor: auto;
}