body {
    background: #1c1c1c;
    box-sizing: border-box;
    color: white;
}
.appContainer {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 150px;
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.counterContainer {
    width: 250px;
    padding: 20px;
    border: 3px solid #00ffd0;
    border-radius: 10px;
}

.buttonsContainer {
    padding: 10px;
    border: 3px solid #00ffd0;
    border-radius: 10px;
    text-align: center;
}
.buttonsContainer button {
    padding: 10px 20px;
    background: #00ffd0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.buttonsContainer button[disabled] {
    background: #4c9688;
    color: black;
}
.buttonsContainer button:first-child {
    margin-right: 10px;
}
.warningMessage {
    margin-top: 15px;
    padding: 5px 0;
    text-align: center;
}